##############################
## MONGODB BACKUP CONFIG ##
##############################

# Optional system user to run backups as.  If the user the script is running as doesn't match this
# the script terminates.  Leave blank to skip check.
BACKUP_USER=

# Optional hostname to adhere to pg_hba policies.  Will default to "localhost" if none specified.
HOSTNAME=127.0.0.1

# Optional username to connect to database as.  Will default to "postgres" if none specified.
USERNAME=

# This dir will be created if it doesn't exist.  This must be writable by the user the script is
# running as.
BACKUP_DIR=~/db-backups/mysql/

# Will produce gzipped sql file containing the cluster globals, like users and passwords, if set to "yes"
ENABLE_GLOBALS_BACKUPS=yes

# Specify databases to skip
SKIPPED_DATABASES=

# Optional if your mongodb is hosted on k8s set to true. Fill settings for 
K8S_MYSQL=false

##### SETTINGS FOR AWS S3 ####

# Will put backups to this bucket 
S3_BACKUP_BUCKET=bucket_name

# The aws profile having access to the bucket
AWS_PROFILE=your-profile-with-s3-access

#### SETTINGS FOR CREDENTIALS ####

# Will use k8s secrets to read db password from credentials secret in $CREDENTIALS_NAMESPACE
# Will read password field in $DB_CREDENTIALS_SECRET
CREDENTIALS_IN_K8S=false
DB_CRED_SECRET=mysqlPassword
CREDENTIALS_KUBECONFIG=~/.kube/config.credentials
CREDENTIALS_NAMESPACE=credentials

# Otherwise set password explicitly here
MYSQL_PASSWORD=mysql-password

##### SETTINGS FOR KUBERNETES CLUSTER ####
# If K8S_MYSQL set to false this configs will not be used.
MYSQL_KUBECONFIG=~/.kube/config.mysql
MYSQL_NAMESPACE=production
MYSQL_STATEFULSET_NAME=mysql
MYSQL_STATEFULSET_PORT=3306

#### SETTINGS FOR NOTIFICATION ####
NOTIFICATION_EMAIL_ADDRESS=alerts@example.com

#### SETTINGS FOR ROTATED BACKUPS ####

# Which day to take the weekly backup from (1-7 = Monday-Sunday)
DAY_OF_WEEK_TO_KEEP=5

# Number of days to keep daily backups
DAYS_TO_KEEP=7

# How many weeks to keep weekly backups
WEEKS_TO_KEEP=5

######################################
